<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">E-COMMERCE CART</h1>
  </div>
</section>

<div class="container mb-4">
  <div class="row">
    <div class="col-12">
      <div class="table-responsive">
        <form>
          <table class="table table-striped">
            <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col">Product</th>
              <th scope="col">Available</th>
              <th class="text-center" scope="col">Quantity</th>
              <th class="text-right" scope="col">Price</th>
              <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let product of productCart; let i = index">
              <td><img alt="" class="img-responsive img-fluid" src="assets/images/{{product.productName}}.jpeg"
                       width="90px"/></td>
              <td>{{product.productName}}</td>
              <td>In stock</td>
              <input [(ngModel)]="productModel.id" hidden name="id" type="text" value="productModel.id">
              <!--            <td><input class="form-control" type="text" [(ngModel)]="productModel.quantity" required /></td>-->
              <td><input (keyup)="calculatePrice($event.target.value, product)" class="form-control" id="quantity{{i}}" min="0"
                         name="quantity" required type="number"></td>
              <td class="text-right">{{ product.ultimatePrice | currency: 'LKR  ':true }}</td>
              <td class="text-right">
                <button (click)="removeCartItem(product)" class="btn btn-sm btn-danger"><i
                  class="fa fa-trash">Delete</i></button>
              </td>
            </tr>

            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td>Sub-Total</td>
              <td class="text-right">{{subTotalPrice | currency: 'LKR  ':true}} LKR</td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td>Shipping</td>
              <td class="text-right">{{shipping | currency: 'LKR  ':true}} LKR</td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td><strong>Total</strong></td>
              <td class="text-right"><strong>{{totalPrice | currency: 'LKR  ':true}} LKR</strong></td>
            </tr>
            </tbody>
          </table>
        </form>
      </div>
    </div>
    <div class="col mb-2">
      <div class="row">
        <div class="col-sm-12  col-md-6">
          <button [routerLink]="['/product']" class="btn btn-block btn-light">Continue Shopping</button>
        </div>
        <div class="col-sm-12 col-md-6 text-right">
          <button class="btn btn-lg btn-block btn-success text-uppercase">Checkout</button>
        </div>
      </div>
    </div>
  </div>
</div>
